 
 

 <div class="box2">

 <p><%= blog.text %></p>


    <% if user_signed_in? %>
    
    <ul class="more_list">
            <li>
              <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
           
            </li>
            <li>
              <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
            
            </li>
    </ul>

    <% end %>

  </div>

