<div class="contents">
    <%= form_with(model: Blog.new, local:true) do |form| %>
      <h3>
        編集する
      </h3>
     
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @blog.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>






  
   

